{% extends "base.html" %}
{% block header %}
<header>
    <nav id="navbar">
        <div class="row">
            <a href="{{ url_for('index') }}"><img src="../static/images/resources/white-logo.png" alt="logo" class="logo"></a>
            <ul class="main-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Demo</a></li>
            </ul>
        </div>
    </nav>
</header> 
{% endblock %}

{% block content %} 
<div class="basic-main">
    <img src="{% if filename %}../static/images/{{filename}}{% else %}../static/images/placeholder.jpg{% endif %}" width=500 height=500 alt="image">
    <form method="POST" enctype=multipart/form-data style='display:{%if not filename%}block{%else%}none{%endif%}'>
        {{ upload_form.hidden_tag() }}
        {{ upload_form.image.label(class='basic-label') }} {{ upload_form.image(class='image-field') }}
        {{ upload_form.submit(class='basic-submit') }}
    </form>
    {% if filename %}
    <a href="{{ url_for('predict', filename_flag=filename + ' ic') }}" style="display: block; text-decoration: none; font-weight: bold; width: 400px; margin: 20px auto;" class='basic-submit'>Image Captioning</a>
    <a href="#" style="display: block; text-decoration: none; font-weight: bold; width: 400px; margin: 20px auto;" id='vqa' class='basic-submit'>VQA</a>
    <form action="{{ url_for('predict', filename_flag=filename + ' vqa') }}", method="POST" id="question-form" style="display: none">
        <label for="user_input">Your Question</label> <input style="border: 1px solid #333; border-radius: 5px; display: inline-block; height: 40px; padding: 2px;" type="text" id="user_input" name="user_input">
        <input type="submit" class='basic-submit' value="Send the question">
    </form>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    document.getElementById('vqa').addEventListener('click', function(){
        let x = document.getElementById('question-form')
        x.style.display = 'block'
    })
</script>
{% endblock %}