{% extends "base.html" %}
{% block header %}
<header>
    <nav id="navbar">
        <div class="row">
            <a href="{{ url_for('index')}}"><img src="../static/images/resources/white-logo.png" alt="logo" class="logo"></a>
            <ul class="main-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Demo</a></li>
            </ul>
        </div>
    </nav>
</header> 
{% endblock %}

{% block content %}
{% for i in range(n) %}
{% if is_object_here[i] == 'yes' %}
<h1 style='color: #000; text-align: center;'>Your {{obj}} is in the <span style="color: #E94F64; font-size: 200%;">{{room_type[i]}}</span> room </h1>
{% endif %}
{% endfor %}
{% if 'yes' not in is_object_here %}
<h1 style='color: #000; text-align: center;'>I don't see <span style="color: #E94F64; font-size: 200%;">{{obj}}</span> in your house</h1>
{% endif %}
<br>
<h1 style='text-align: center; color: #000'>Here is what I have seen</h1>
<div class="result" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr ;grid-gap: 1rem; width: 80%; margin: 0 auto;">
    {% for i in range(n) %}
    <div>
        <img src={{filepaths[i]}} width=500px height=500px alt="">
        <br>
        {% if is_object_here[i] == 'yes' %}
            <p style="color: #E94F64"><strong>{{room_type[i].capitalize()}}{% if 'room' not in room_type[i] %} room{% endif %}</strong></p>
        {% else %}
            <p style="color: #555">{{room_type[i].capitalize()}}{% if 'room' not in room_type[i] %} room{% endif %}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('finder') }}" style="text-decoration: none; display:inline-block; margin-left: 45%; margin-top: 50px; color: #333; font-weight: bold;" class='basic-submit'>Find another thing</a>
{% endblock %}  